app = "organize20252026"

[build]

[env]
PYTHONUNBUFFERED = "1"

[[services]]
  internal_port = 8080
  protocol = "tcp"
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

  [[services.ports]]
    port = 8080

[processes]
  app = "python organize.py"
